#tileback {
    border-radius: 25px;
    background: blue;
    padding: 20px;
    width: 200px;
    height: 150px;
}
#square {
    width: 100px;
    height: 100px;
}
#circle {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
#triangle{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
}
#cross {
    height: 100px;
    width: 100px;
    background-color: #FA6900;
    border-radius: 5px;
    position: relative;
}

#cross:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\274c"; /* use the hex value here... */
    font-size: 50px;
    color: #FFF;
    line-height: 100px;
    text-align: center;
}