:root{
    --fontSize: 130%;
    --tileWidth: 90px;
    --tileBorderWidth: 2px;
    --shapeBackWidth: 50px;
    --shapeWidth: 40px;
    --shapeHalfWidth: 20px;
}

.alignleft {
    font-weight: bold;
    font-size: var(--fontSize);
    padding: 0px 0px 0px 2px;
}

.alignright {
    float: right;
    font-weight: bold;
    font-size: var(--fontSize);
    padding: 0px 2px 0px 0px;
}

.blank {
    width: var(--tileWidth);
    height: var(--tileWidth);
    border: var(--tileBorderWidth) transparent;
    border-style: solid;
    margin: 1px;
}

.target {
    width: var(--tileWidth);
    height: var(--tileWidth);
    border: var(--tileBorderWidth) #f5f5f5;
    border-style: solid;
    margin: 1px;
    background: #f5f5f5;
    border-radius: 5px;
}

.targetSelected {
    width: var(--tileWidth);
    height: var(--tileWidth);
    border: var(--tileBorderWidth) red;
    border-style: solid;
    margin: 1px;
    background: #ccc;
    border-radius: 5px;
}

.tile {
    width: var(--tileWidth);
    height: var(--tileWidth);
    border: var(--tileBorderWidth) black;
    border-style: solid;
    border-radius: 5px;
    margin: 1px;
    box-shadow: 5px 5px 2px #888888;
}

.tilePlaced {
    background-color: lightyellow;
}

.tileInner {
    padding: 0px 2px 0px 18px;
    margin: -7px -0px -5px 0px;
}

.shapeback {
    width: var(--shapeBackWidth);
    height: var(--shapeBackWidth);
    padding: 5px;
    margin: 0px;
    background: black;
}

.square {
    width: var(--shapeWidth);
    height: var(--shapeWidth);
}

.circle {
    width: var(--shapeWidth);
    height: var(--shapeWidth);
    -moz-border-radius: var(--shapeHalfWidth);
    -webkit-border-radius: var(--shapeHalfWidth);
    border-radius: var(--shapeHalfWidth);
}

.triangle{
    width: 0;
    height: 0;
    border-left: var(--shapeHalfWidth) solid transparent;
    border-right: var(--shapeHalfWidth) solid transparent;
    border-bottom-width: var(--shapeWidth);
    border-bottom-style: solid;
}

.cross {
    height: var(--shapeWidth);
    position: relative;
    margin-left: 15px;
    width: 10px;
}

.cross:after {
    background-color: inherit;
    content: "";
    height: 10px;
    left: -15px;
    position: absolute;
    top: 15px;
    width: var(--shapeWidth);
}

.panel {
    min-width: var(--tileWidth);
    height: var(--tileWidth);
    border: var(--tileBorderWidth) black;
    border-style: solid;
    border-radius: 5px;
    margin: 1px;
    box-shadow: 5px 5px 2px #888888;
    text-align: center;
    font-weight: bold;
    /*
    font-size: var(--fontSize);
    */
}

.panel-body {
    padding: 0px 0px 0px 2px;
    padding-top: 10px;
    font-size: var(--fontSize);
}

.panel-success>.panel-heading {
    color: white;
    background-color: green;
}

.panel-default>.panel-heading {
    color: white;
    background-color: gray;
}